
<div class="feature-home">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center feature-heading">
                <h1>So many features, <br>so much more free time</h1>
                <p>
                    ServTek users report that our software saves them 6.8 hours a week!<br>
                    Proof that our features take work off your hands.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="news">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="note">New &amp; Noteworthy</h2>
            </div>
        </div>
    </div>
</div>
<div class="notes">
    <div class="container">
        <div class="row notes-headings">
            <div class="col-sm-12">
                <div class="col-sm-4 newest btlr">
                    <h4>OUR NEWEST</h4>
                </div>
                <div class="col-sm-4 favorite">
                    <h4>CUSTOMER FAVORITE</h4>
                </div>
                <div class="col-sm-4 champion btrr">
                    <h4>SERVTEK CHAMPION</h4>
                </div>
            </div>
        </div>
        <div class="row notes-body">
            <div class="col-sm-12">
                <div class="col-sm-4 newest-body">
                    <div class="body">
                        <p class="impress">Impress your clients</p>
                        <h1 class="hub">Client Hub</h1>
                        <div class="line"></div>
                        <p class="notes-text">
                            Offer your clients 24/7 support, minus the back-and-forth, 
                            with Jobber’s self-serve, online experience.
                        </p>
                        <button class="btn btn-default free-new" type="submit"><b>Learn More</b></button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="body customer-body">
                        <p class="team">Connect your team</p>
                        <h1 class="hub">Scheduling</h1>
                        <div class="line"></div>
                        <p class="notes-text">
                            Schedule faster: create a job, choose a client, and assign it to your team with only a few clicks.
                        </p>
                        <button class="btn btn-default free-business" type="submit"><b>Learn More</b></button>
                    </div>
                </div>
                <div class="col-sm-4 newest-body bbrr">
                    <div class="body">
                        <p class="business">Organize your business</p>
                        <h1 class="hub">ServTek Payments</h1>
                        <div class="line"></div>
                        <p class="notes-text">
                            Get paid faster by offering your clients an online payment option, and 
                            securely vault cards for future payments.
                        </p>
                        <button class="btn btn-default free-trial" type="submit"><b>Learn More</b></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="field">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="field-heading">Field service management software that’s <br>ready to work</h1>
                <p class="field-text">
                    Streamline your workload by putting our features into play. 
                    From quoting to getting paid, in every<br> area of your business, 
                    ServTek saves you time. Our features help you manage your team, 
                    your clients,<br> and your business, without breaking a sweat.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="filters">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group btn-group-lg" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">All Features</button>
                    <button type="button" class="btn btn-default">Client Feautres</button>
                    <button type="button" class="btn btn-default">Team Features</button>
                    <button type="button" class="btn btn-default">Business Features</button>
                </div>
            </div>
        </div>
        <div class="row filter-panel">   
            <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="panel-filter">Accounting Sync</h3>
                            <p class="panel-text">
                                Keep your data up to date and eliminate double entry with Jobber’s accounting sync.
                            </p>
                        </div>
                        <div class="panel-footer">
                            <a href="">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="panel-filter">Chemical Tracking</h3>
                            <p class="panel-text">
                                Easily track, store, and report on chemical and pesticide usage.
                            </p>
                        </div>
                        <div class="panel-footer">
                            <a href="">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="panel-filter">Client Communications</h3>
                            <p class="panel-text">
                                Improve your customer service by communicating with your clients at key points before, during, and after a job.
                            </p>
                        </div>
                        <div class="panel-footer">
                            <a href="">Learn More</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="integration">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-5 col-sm-offset-1">
                    <img src="img/integrations-cards.svg" alt="" class="img-responsive">
                </div>
                <div class="col-sm-6">
                    <h1 class="integration-heading">Do even more by adding<br> integrations</h1>
                    <p class="integration-text">
                        ServTek seamlessly integrates with your favorite<br> apps 
                        and software so you can focus on what you<br> do best—running your business.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
