<div id="footer">
    <div class="trial">
        <div class="container">
            <div class="row demo">
                <div class="heading-container col-sm-5 col-sm-offset-1">
                    <h1 class="heading-home">
                        Try ServTek for Free
                    </h1>
                    <p class="subheading-home">
                        All the features, all the support, and no credit card required.
                    </p>
                    <div class="row">
                        <div class="col-sm-5">
                            <button class="btn btn-block btn-default start-trial" type="button">
                                <b>Start Free Trial</b>
                            </button>
                        </div>
                        <div class="col-sm-5">
                            <button class="btn btn-block btn-default watch-video" type="button">
                                <b>Book a Demo</b>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row services">
                <div class="col-sm-2 servtek text-center">
                    <h1>ServTek</h1>
                </div>
                <div class="col-sm-2">
                    <h2>Industries</h2>
                    <ul>
                        <li>Landscaping</li>
                        <li>Residential Cleaning</li>
                        <li>Lawn Care</li>
                        <li>General Contracting</li>
                        <li>HVAC</li>
                        <li>Snow Removal</li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h2>Features</h2>
                    <ul>
                        <li>Scheduling</li>
                        <li>Invoicing</li>
                        <li>Client Manager (CRM)</li>
                        <li>Drag and Drop</li>
                        <li>Calendar</li>
                        <li>Payments</li>
                        <li>Jobs</li>
                        <li><a href="">More</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h2>Resources</h2>
                    <ul>
                        <li>Pricing</li>
                        <li>Integrations</li>
                        <li>Academy</li>
                        <li>Case Studies</li>
                        <li>Webinars</li>
                        <li>FAQ</li>
                        <li><a href="">Star a chat +</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h2>Company</h2>
                    <ul>
                        <li>About</li>
                        <li>Careers</li>
                        <li>Press &amp; Media</li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h2>Industries</h2>
                    <ul>
                        <li>1-888-721-1115</li>
                        <li>frank@servtek.com</li>
                    </ul>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-sm-12 text-center">
                    ServTek Copyright 2017 | Privacy | Terms | <a href="">Sitemap</a>
                </div>
            </div>
        </div>
    </div>
</div>