@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
    themes:
        light --default,
        dark --prefersdark;
}

.font-dm-sans {
    font-family: 'DM Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.glass {
    box-shadow:
        inset 0 0 15px rgba(135, 135, 135, 0.1),
        0 0 18px 3px rgba(0, 0, 0, 0.3);
}

.home-hero-bg {
    background-image: url('/images/day.svg');
    background-size: cover;
    background-position: center;
}

:root[data-theme='dark'] .home-hero-bg {
    background-image: url('/images/night.svg');
}
